<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/hamza/workspace/TestNGJenkins/src/test">
        <classes>
            <class name="org.example.Test1">
                <methods>
                    <include name="test12"/>
                    <exclude name="test22"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>